#master {
    width: 100vw;
    height: 100vh;
    height: 100vh;
	position: absolute;
	z-index: 2;
}

#welcome-master-content {
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
}

#welcome-master-text {
    font-size: 35px;
}

#welcome-master-connected-slaves {
    padding: 10px 0px 22px 0px;
}

#welcome-master-no-slave-toast {
    position: absolute;
    z-index: 5;
    right: 20px;
    top: 20px;
}

#start-master-button {
    padding: 2px 20px;
    font-size: 20px;
}

#main-flow-master {
    display: none;
}
#slave {
    overflow: hidden;
}

#default-slave-state {
    width: 100vw;
    height: 100vh;
    color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 35px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	background-color: rgb(76, 175, 80);
}

#slave-flow-buttons {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#display-slave-img-buttons {
    display: none;
    width: 100vw;
    height: 100vw;
}

img {
    border: 20px solid #021a40;
    background-color: rgb(76, 175, 80);
}

#display-slave-img-buttons-content {
    display: flex;
    width: 100vw;
    /* height: 100vw; */
    padding-top: 50vh;
    justify-content: space-evenly;
    align-items: center;
}

#image-container-slave {
    width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: -2;
}

#video-container-slave {
    width: 100vw;
	height: 100vh;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: -2;
}

#image-slave {
	height: 100vh;
	width: 100vw;
}

#orientation-colors {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
}

#pink-color {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 70, 180);
    position: absolute;
    left: 0px;
	top: 0px;
	z-index: -2;
    font-weight: 200;
	font-size: 35px;
}

.outlined-button-white {
    color: rgba(255, 255, 255, 0.75) !important;
    border-color: rgba(255, 255, 255, 0.75) !important;
    background-color: transparent !important;
    padding: 20px 20px !important;
    font-size: 30px;
}

video {
    object-fit: cover;
}

.btn-circle {
    width: 100px;
    height: 100px;
    border-radius: 50px !important;
    font-size: 40px !important;
}

#camera {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#player-overlay {
    position: absolute;
    background-color: transparent;
    z-index: 2;
    opacity: 0.5;
    width: 640px;
    height: 480px;
}

.rest {
    float: left;
    width: 20%;
}

.mobile {
    display: none;
}

.arrow {
    display: none;
}

.body h1 {
    display: none;
}

#page {
    background-color: rgb(76, 175, 80);
    width: 100vw;
    height: 100vh;
    font-weight: 200 !important;
    color: rgba(255, 255, 255, 0.75);
}

#fullScreen {
	background-color: rgb(76, 175, 80);
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(14, 54, 66, 0.253);
}

h1,
h2,
h3,
h4 {
    font-weight: 200 !important;
}

.captureButton {
    display: inline-block;
    border-radius: 4px;
    background-color: deepskyblue;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.uploadButton {
    display: inline-block;
    border-radius: 4px;
    background-color: darkslategrey;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.pink {
    display: inline-block;
    border-radius: 4px;
    background-color: deeppink;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.green {
    display: inline-block;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.orange {
    display: inline-block;
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.blue {
    display: inline-block;
    border-radius: 4px;
    background-color: blue;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.thin-font {
    font-weight: 200 !important;
}

.padVer10 {
    height: 30px;
}
